.navbar-brand{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold; 
    color: blue;
}
nav{
    background: linear-gradient(to right,#C3E2C2,#e6ede6);
}
.hero{
    background-color: #EAECCC;
    display: flex;
    padding-top: 5%;
    padding-bottom: 5%;
   
}
.hero-img img{
    margin-top: 8%;
}
.hero-text{
    margin-top: 8%;
    margin-left: 5%;
    
}
.hero-text h2{
    display: block;
    margin: 10% 0 auto 10%;
}
.hero-btn{
    background-color:peru;
    font-weight: bold;
    padding:10px 30px 10px 30px;
    border-radius: 4cm;
    border-color: rgb(152, 88, 28);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.service{
    background-color:#DBCC95 ;
    
    padding:8% 3% 8% 3%;
}
.service-head{
    font-style: italic;
    text-align: center;
    padding-top: 5%;
}
.service-quality{
    display: flex;
}
.service-image img{
    height:400px ;
}
.service-text h3{
    margin-bottom: 5%;
   margin-left: 3%;
}
.service-text{
    margin:auto 0 auto 0;
    font-size: 20px;
}

.carousel {
    background-color: #CD8D7A;
    display: flex;
    justify-content: center; /* Center align the cards horizontally */
    overflow-x: hidden;
    position: relative;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .review-text{
    text-align: center;
    background-color: #CD8D7A;
    border:none;
   margin-bottom:-10px ;
   padding-top: 5%;
   padding-bottom: 5%;
  }
  
  .carousel-inner {
    display: flex;
    justify-content: center; /* Center align the cards horizontally */
    transition: transform 0.3s ease;
  }
  
  .card {
    flex: 0 0 20%; /* Five cards in a row */
    margin-right: 50px; /* Adjust as needed */
    background-color: #f9c4d2; /* Light pink background */
    padding: 10px;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow */
  }
  
  .card-body {
    text-align: center; /* Center align text */
  }
  
 


.review{
    background-color: #CD8D7A;
}
.review-text h3{
    padding-top: 5%;
}
.card-img1{
    width: 200px;
}
.rating{
   display: flex;
  justify-content: center;
}
.rating img{
    height: 20px;
  
}

footer{
    background-color: #C3E2C2;
    padding-top: 5%;
    padding-bottom:3%;
   
}
footer p{
    font-style: italic;
    font-size: 25px;
    text-align: center;
    padding-bottom: 3%;
}

footer h3{
    text-align: center;
}
.contact{
    margin-top: 3%;
    text-align: center;
}

.contact img{
    height: 30px;
    display: inline-block;
  margin: 0 5px;
}
@media screen and (max-width:750px){
    img{
        height:200px;
    }
    .service-image img{
        height:200px;
    }
    .hero-text{
        display: block;
        margin: auto;
    }
}
@media screen and (max-width:1243px){
    .card-img1{
        width:100px;
    }
}
@media screen and (max-width:724px){
    .card-img1{
        width:50px;
    }
}